
@font-face {
  font-family: rubik;
  src: url('../../fonts/Rubik-Medium.ttf'); 
}
@font-face {
  font-family: roboto-regular;
  src: url('../../fonts/Roboto-Regular.ttf'); 
}
@font-face {
  font-family: roboto-medium;
  src: url('../../fonts/Roboto-medium.ttf'); 
}
* {
	margin: 0px; 
	padding: 0px; 
  box-sizing: border-box;
 
}
body, html {
	height: 100%;
  font-family: rubik;

}
body {
	width: 100wh;
	height: 90vh;
	color: #fff;

}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
/*---------------------------------------------*/
a {
	font-family: roboto-regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}


/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: roboto-regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
.titulo {
  font-family:rubik;
  font-size: 65px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  margin-top:25px;
  padding-bottom: 10px;
  font-weight: 600;
}
.sub-titulo {
  font-family: roboto-medium;
  font-size: 17px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 20px;
  font-weight: 600;
}
body {
	color: #fff;

}
.error{
  text-align:center;
  color:red;
  font-size:20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
a {
  font-family: 'Open Sans', sans-serif;
	font-size: 14px;
  font-weight: 600;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}
p {
  font-family: 'Open Sans', sans-serif;
    left:0px;
    right:0px;
    color:red;
    font-size: 20px;
    line-height: 1.7;
    margin: 0px;
  }
ul, li {
	margin: 0px;
	list-style-type: none;
}
input {
	outline: none;
  border: none;
  
}
textarea {
  outline: none;
  border: none;
}
textarea:focus, input:focus {
  border-color: transparent !important;
}
button {
	outline: none !important;
	border: none;
	background: transparent;
}
button:hover {
	cursor: pointer;
}
iframe {
	border: none !important;
}
.txt1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #999999;
  margin-left:25px;
}
.txt2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #666666;
  text-decoration:none;
  font-weight: 600;
}
.txt3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #666666;
  text-decoration:none;
  top:-40px;
  position:relative;
  font-weight: 600;
}
.text-center {text-align: center;}
.limitador {
  width: 100%;
  margin: 0 auto;
}
.todo {
  width: 100%;  
  min-height: 100px;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.caja {
  
  border-radius: 30px;
  overflow: hidden;
 /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
  width:500px;
  padding: 0px 40px 0px 40px;
  font-weight: 600; 
}
.formulario {
  width: 100%;
  position:relative;
  height:500px;
}
.input {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
 
}


.caja-input {
  font-family: roboto-regular;
  font-size: 20px;
  line-height: 1.5;
  color: black;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 60px;
  border-radius: 14px;
  padding: 0 30px 0 68px;
  font-weight: 600;

}

.focus-caja-input {
  display: block;
  position: absolute;
  border-radius: 30px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  font-weight: 600;

}
.icono {
  font-size: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 30px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.icono2 {
  font-size: 15px;
  margin-top:-32px;
  align-items: center;
  padding-bottom:10px;
  border-radius: 30px;
  bottom: 0;
  left: 0;

  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  
}
.todo-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.caja-titulo-btn {
  font-family: roboto-medium;
  font-size: 26px;
  line-height: 1.5;
  color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 14px;
  background: #4261ad;
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

 
}
.caja-titulo-btn:hover {
  background: rgb(101, 194, 104);
}

@media (max-width: 992px) {
  .caja {
    padding: 0px 10px 0px 10px;
  }
}
.condicions{
  position:relative;
  font-family: 'Open Sans', sans-serif;
  color:black;
  margin-top:25px; 
  
}
.control2{
  color:blue;
}
.divCiudad{
  cursor: pointer;
}
.exp {
  display: table;
  width: 100%;
  height: 100%;
  color:black;
}
.exp .checkbox {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

label {
  display: inline-block;
  color: black;
  cursor: pointer;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  top:10px;
  left:7px;
  font-size:24px;
}
label span {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 29px;
  height: 29px;
  transform-origin: center;
  border: 2px solid #666666;
  border-radius: 50%;
  vertical-align: -6px;
  margin-right: 10px;
  transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}
label span:before {
  content: "";
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: #666666;
  position: absolute;
  transform: rotate(45deg);
  top: 13px;
  left: 9px;
  transition: width 50ms ease 50ms;
  transform-origin: 0% 0%;
}
label span:after {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: #666666;
  position: absolute;
  transform: rotate(305deg);
  top: 16px;
  left: 10px;
  transition: width 50ms ease;
  transform-origin: 0% 0%;
}
label:hover span:before {
  width: 5px;
  transition: width 100ms ease;
}
label:hover span:after {
  width: 10px;
  transition: width 150ms ease 100ms;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + label span {
  background-color: #adff5e;
  transform: scale(1.25);
}
input[type="checkbox"]:checked + label span:after {
  width: 10px;
  background: #666666;
  transition: width 150ms ease 100ms;
}
input[type="checkbox"]:checked + label span:before {
  width: 5px;
  background: #666666;
  transition: width 150ms ease 100ms;
}
input[type="checkbox"]:checked + label:hover span {
  background-color: #fff;
  transform: scale(1.25);
}
input[type="checkbox"]:checked + label:hover span:after {
  width: 10px;
  background: #666666;
  transition: width 150ms ease 100ms;
}
input[type="checkbox"]:checked + label:hover span:before {
  width: 5px;
  background: #666666;
  transition: width 150ms ease 100ms;
}












.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}


.txt1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #999999;
  margin-left:25px;
  font-weight: 600;
}
.txt2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #666666;
  text-decoration:none;
  font-weight: 600;
}
.txt3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.0;
  color: #b0b0b0;
  text-decoration:none;
  top:-1px;
  font-weight: 600;

}
.txt4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.55em;
  line-height: 1.5;
  color: white;
  text-decoration:none;
top:50px;
  position:relative;
  background-color: #dca204;
  padding: 7px 17px;
  border-radius:12px;
  font-weight: 600;
}
.txt5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  line-height: 1.5;
  color: #333333;
  text-decoration:none;
  top:0px;
  position:relative;
  padding: 7px 17px;
  border-radius:12px;
  font-weight: 600;
}
.txt6{
  margin-top:15px;
  font-size: 1.1em;
  margin-bottom: -35px;
  color:red;
}
.text-center {text-align: center;}



#zonaRedesSociales {
  float: left;
  width: 100%;
  height: 150px;
  background-color: #0A12AC;
  line-height: 120px;
  text-align: center;
  color: black;
  font-size: 30px;
}
#zonaRedesSociales .titulo {
  font-family: 'Montserrat', sans-serif;
}
#footerRedesSocialesPermanente {
  background: linear-gradient(-45deg, #eff317, #E73C7E, #23A6D5, #ff2424);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  min-height: 50px;
  /* background: #d6249f;
   background: radial-gradient(circle at 30% 107%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
  line-height: 50px;
  z-index: 11;
}
#footerRedesSocialesPermanente .flotanteIzquierdaFooter {
  font-family: roboto-regular;
  position: absolute;
  left: 50px;
  top: 0;
  font-size: 15px;
}
#footerRedesSocialesPermanente .flotanteIzquierdaFooter a {
  font-family: roboto-regular;
  font-size: 15px;
}
#footerRedesSocialesPermanente .flotanteDerechaFooter {
  font-family: roboto-regular;
  position: absolute;
  right: 50px;
  top: 0;
}
#footerRedesSocialesPermanente .flotanteDerechaFooter a {
  font-family:roboto-regular;
  font-size: 15px;
}
#footerRedesSocialesPermanente .zonaTexto {
  width: 90%;
  max-width: 450px;
  margin: auto;
  text-align:center;
}
#footerRedesSocialesPermanente .rs {
  float: left;
  width: 33.333%;
  text-align: center;
}
#footerRedesSocialesPermanente a {
  color: white;
  text-decoration:none;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}



@media only screen and (max-height: 669px) {
  #footerRedesSocialesPermanente {
   display:none;
  }
  #footerRedesSocialesPermanente a {
      font-size: 15px;
  }
  #footerRedesSocialesPermanente .flotanteIzquierdaFooter {
      left: 10px;
      display:none;
/*        font-size: 14px;*/
  }
/*    #footerRedesSocialesPermanente .flotanteDerechaFooter a {
      font-size: 14px;
  }*/
  #footerRedesSocialesPermanente .flotanteDerechaFooter {
      right: 10px;
      display:none;
  }
}

